<p>File: <%= @discount_upload.discount_file_name %> was not uploaded to development store: <%= @shop.shopify_domain %> due to incorrect data.
</p>
<p>Your file could not be uploaded due to incorret data. Please find the issues in the attached file. </p>

